.leftbox {
  margin: 0;
  margin-left: 5px;
  padding: 0;
  width: 300px;
  height: auto;
  float: left;
  border-style: solid;
  border-color: #aaaaaa;
  border-width: 1px;
  border-top: none;
}

.leftbox img {
  display: block;
  margin: 5px auto 5px auto;
  max-height: 290px;
  max-width: 290px;
}

.leftbox h4 {
  margin: 5px;
  padding: 0;
  border-bottom: 1px solid;
}

.leftbox ul {
  margin: 5px;
  margin-left: 20px;
  padding: 1px;
  list-style-type: none;
}

.leftbox ul a {
  color: #333333;
}

.leftbox ul a:hover {
  text-decoration: underline;
}


.rightbox {
  margin: 0;
  padding: 0;
  width: 760px;
  height: auto;
  float: left;
  border-style: solid;
  border-color: #aaaaaa;
  border-width: 1px;
  border-top: none;
}

.scoreBox {
  display: table;
  margin: 10px;
  padding: 0;
  width: 600px;
  height: 100px;
  float: left;
  border-style: solid;
  border-color: #aaaaaa;
  border-width: 1px;
  text-align: center;
}

.scoreBox h4 {
  margin: 0;
  margin-top: 2px;
  padding: 0;
}

.metaScoreBox {
  display: table-cell;
  margin: 5px;
  margin-left: 0;
  padding: 0;
  width: 200px;
  height: 90px;
  border-right: 1px solid #aaaaaa;
}

.metaScore {
  text-align: center;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  position: relative;
  left: 65px;
  top: 2px;
}

.metaScore h4 {
  font-size: 30px;
  color: white;
  line-height: 70px;
}

.rankBox {
  display: table-cell;
  margin: 5px;
  margin-left: 0;
  padding: 0;
  width: 200px;
  height: 90px;
  border-right: 1px solid #aaaaaa;
}

.rankBox h3 {
  line-height: 15px;
  font-size: 26px;
}

.userScoreBox h3 {
  line-height: 15px;
  font-size: 26px;
}

.listAddBox {
  display: table;
  margin: 10px;
  margin-top: 0px;
  padding: 0;
  width: 400px;
  height: 30px;
  float: left;
  border-style: solid;
  border-color: #aaaaaa;
  border-width: 1px;
  text-align: center;
}

.addBox {
  display: table-cell;
  margin: 5px;
  margin-left: 0;
  padding: 0;
  width: 200px;
  height: 25px;
}

.addBox button {
  margin-top: 15px;
  border: 1px solid rebeccapurple;
  border-radius: 3px;
  cursor: pointer;
  height: 24px;
}

.addBox button:hover {
  border: 1px solid #333333;
  color: #333333;
}

.scoreSelectBox {
  display: table-cell;
  margin: 5px;
  margin-left: 0;
  padding: 0;
  width: 200px;
  height: 25px;
}

.scoreSelectDropdown {
  z-index: 1;
  position: relative;
  display: inline-block;
}

.scoreSelectDropdown-a {
  padding: 2px;
  background: white;
  position: relative;
  width: 150px;
  border: 1px solid rebeccapurple;
  border-radius: 3px;
  text-align: left;
}

.scoreSelectDropdown input:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition-duration: 0ms;
}

.scoreSelectDropdown input {
  top: 0;
  opacity: 0;
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  position: absolute;
  height: 100%;
  width: 100%;
}

.scoreSelectDropdown input:hover {
  cursor: pointer;
}

.scoreSelectDropdown input:checked:after {
  transform: scaleX(1);
}

.scoreSelectDropdown input:checked ~ .scoreSelectDropdown-c {
  transform: scaleY(1);
}

.scoreSelectDropdown-c {
  display: block;
  position: absolute;
  background: white;
  height: auto;
  transform: scaleY(0);
  transform-origin: top left;
  transition-duration: 0ms;
}

.scoreSelectDropdown-c ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.scoreSelectDropdown-c li {
  text-align: left;
  display: block;
  position: relative;
  border: 1px solid rebeccapurple;
  width: 154px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #333333;
}

.scoreSelectDropdown-c span:hover {
  background-color: #aaaaaa;
}


.synopsisBox {
  margin: 5px;
  float: left;
  padding: 0;
  border: 1px solid gray;
  width: 750px;
}

.synopsisBox h4 {
  border-bottom: 1px solid black;
  margin: 5px;
}

.synopsisBox a {
  color: #333333;
}

.synopsisBox a:hover {
  text-decoration: underline;
}
